*{
  padding: 0px;
  margin:  0px;
  box-sizing: border-box;
}

.card-container{
  display: flex;
  gap: 2rem;
  padding: 2rem;
  flex-wrap: wrap;
  background-color: aqua;
}
.card{
  background-color: aliceblue;
  border: 1px solid blue;
  padding: 2rem;
}